#form-ctn{
  background: #C62368;
  /* background: #95d0f5; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* padding: 0px 20px; */
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 2px solid #000;
  padding: 10px 20px 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #8d224e;
  gap: 3px;

  position: relative;
  left: 10vh;
  z-index: 10;
}
#form-ctn h1{
  color: #000;
  font-size: 3rem;
  line-height: .9;
  max-width: 230px;
  text-align: center;
  margin: 0;
}
label{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}
label span {
  color: #000;
}
input, textarea{
  background: #000d;
  border: none;
  padding: 10px;
  border-radius: 10px;
  border: #000 solid 1px;
  color: #FFF;
  font-size: 1.2rem;
  cursor: pointer;
}
button{
  background: #ff569d;
  border: none;
  padding: 10px;
  border-radius: 10px;
  border: #000 solid 1px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}