@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.app-ctn {
  text-align: center;
  margin: 0;
  display: flex;
  width: 100vw;
  background: #001220;
  justify-content: center;
}
.bg-curves {
  background: url("./assets/layered-waves.svg") no-repeat center center;
  background-size: cover;
  position: relative;
  transform: rotate(180deg);
  height: 100vh;
  width: 50vh;
  min-width: 50vh;
}
.app-ctn section:first-child , .app-ctn section:last-child {
  width: 100%;
}
.app-ctn div:nth-child(2) {
  flex-shrink: 1;
}

.modify-mode{
  filter: hue-rotate(260deg);
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 10px;
  z-index: 15;
  opacity: 50%;
}